name: Build fib-service

on:
    push:
        paths:
            - 'fib-service/**'
            - '.github/workflows/fib-service.build.yaml'
    pull_request:
        paths:
            - 'fib-service/**'
            - '.github/workflows/fib-service.build.yaml'

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: fib-service
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                go-version: '1.21'

            - name: Build Golang binary
              run: make build
              working-directory: fib-service/src

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Set image tag
              id: vars
              run: echo "TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

            - name: Build Docker image
              run: docker build -t fib-service:${TAG} .